img{
   text-align:center;
   margin-left:90px;
   width:500px;
   height:500px;
   border:5px solid black;
   object-fit:cover;
   border-radius:50%;
   margin-top:60px;
}
h1{
	text-align:center;
	font-size:70px;
	font-weight:bold;
}
body{
	text-align:center;
}
.barre{
	border-bottom: 4px solid blue;
	margin-left:100px;
	margin-right:400px;
	font-size:65px;
	font-family:calibri;
}
.toto{
	font-size:40px;
}
.cadre{
	border:4px solid black;
	margin-left:90px;
	margin-right:100px;
	padding-left:30px;
	text-align:justify;
	line-height:90px;
	padding-right:30px;
	box-shadow:3px 3px 4px black;
	border-radius:20px;
	
}
span{
	color:blue ;
	font-weight:bold;
	text-transform:uppercase;
	font-size:70px;
}
.tata{
	border:4px solid black;
	border-radius:20px;
	box-shadow:3px 3px 3px black;
	
}

h6{
	font-size:45px;
}
header{
	background-color:gray;
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:240%;
	border:3px solid blue;
	transform:rotata(-65deg);
}
.lala{
	font-size:55px;
	font-weight::bold;
}
article{
	background-color:white;
}
